doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Scroll Indicator
  body
    .wrapper
      .indicator
      section.section__1 Section 1
      section.section__2
        .block.block__1 Block 1
        .block.block__2 Block 2
        .block.block__3 Block 3
        .block.block__4 Block 4
      section.section__3 Section 3