//colors
$textColor: #8B008B;
$section1Color: #BC8F8F;
$section2Color: #D8BFD8;
$section3Color: #F4A460;
$blockColor: #DDA0DD;
$shadowColor: #808080;
$topLineScrollColor: #FF4500;
//vars
$lineInnertion: .5s;

//resolutions
$desktop: 1280px;
$laptop: 980px;
$tablet: 768px;
$smartphone: 480px;
$phone: 320px;

